:root {
  --font-sans: 'Montserrat', sans-serif;
  --primary-green: #77b341;
  --dark-green: #3a7908;
  --primary-orange: #e28133;
  --primary-blue: #4b93d7;
  --light-blue: #e4f8ff;
  --text-dark: #121212;
  --text-gray: #787777;
  --white: #ffffff;
  --bg-footer: #f3f9c5;
}
